html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightyellow;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
}

a img{width: 10%;position: relative;top:20px;}

.skip-link {
  position: static;
  top: -100px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  z-index: 100;
}

.skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;
  outline: 2px solid #fff;
}
header {
  display:flex;flex-wrap: wrap;width: 100%;height: 50px;
  background-color:whitesmoke;;
}


header nav {display: inline-block; margin: 100px;font-family: sans-serif; font-size: 2rem;}
main p {
  background-color:yellow;
  color: #1d1b1b;
  font-style: italic;
  font-family: calibri;
  line-height: 4cap;
}
.grid {display:grid;grid-template-columns:40% 40%;justify-content: center;align-items: baseline;row-gap: 5px;}
.grid img{width:100%;}
.park {display:grid;grid-template-columns:20% 20% 20% 20%;justify-content: center;align-items: baseline;row-gap: 5px;}
.park img{width:200px;}
footer {
  display: inline-block;
  width: 100%;
  text-align: justify;
  background-color: grey;
  line-height: 1px;
}

image {
  display: inline-block;
  background-color: grey;
  height: 5%;


}

main {
  background-color:yellow;
  font-size: 15px;
}




